.Home {
    padding-top: 75px;
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/Auth/bgAuth.png);
    background-size: cover;
    background-repeat: no-repeat;
   

    
}
