* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #7f7f7f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    border-radius: 10px;
    border: 0 solid #ffffff;
}